In [ ]:
#alright let's try an online tutorial for MultiIndexing
import pandas as pd
stocks = pd.read_csv('http://bit.ly/smallstocks') #okay that's pretty cool. import a csv from
#a url

In [ ]:
stocks

In [ ]:
stocks.index

In [ ]:
stocks.groupby('Symbol').Close.mean()

In [ ]:
ser = stocks.groupby(['Symbol', 'Date']).Close.mean() #for each instance in which the symbol & date
#show that average Close. this would be more useful if each Symbol had more than one Close value
#for a given date

In [ ]:
#note that this is a series with a MultiIndex
#note that this is a series with a MultiIndex
print(type(ser))
ser.index #i.e. our series has multiple dimensions

In [ ]:
#if we command Pandas to unstack this MultiIndex series, it will become a dataframe
df = ser.unstack()
print(type(df))
df

In [ ]:
#there's a simpler way to do all of this though
stockdf = stocks.pivot_table(values='Close', index='Symbol', columns='Date')
stockdf

In [ ]:
ser.loc['AAPL'] #in a multi-index series, we can select all information related to the element
#we pass it

In [ ]:
#we can get even MORE specific with the data we want
ser.loc['AAPL', '2016-10-03']

In [ ]:
#let's say we want all info from a date
ser.loc[:, '2016-10-03'] #Note that in python, : here serves to mean "All"

In [ ]:
#In MultiIndexing, all of these commands work just the same on the DataFrame as they work on
#the unstacked series

stockdf.loc['AAPL'] #BEHOLD!

In [ ]:
#there's something really fucked up about this line of code
#sometimes it works and sometimes it does not. there is not clear reason
#i think in particular it has to do with whatever font this fuckwit used to write his code

#either that, or some fucking complete dipshit asshole dev at python decided that being able
#to reference a column by its string name was too useful


#there is legitimately no explanation for why this is not working
#the only thing i can think of is that it's refusing to do it and freaking out because it's
#already MultiIndexed this way

#FUUUUUUUUUUUCK YOUUUUUUUUUUUUU!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



#i did this with the table1 data, and it worked fine. something is wrong with this dickheads
#original csv

In [ ]:
#i'm going to start all of this over with the table1 data and see how it works

In [177]:
from __future__ import print_function
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from astropy import units as u
from astropy.coordinates import SkyCoord

#comment out the next two lines if you do not have astroquery installed
#from astroquery.sdss import SDSS
#from astroquery.vizier import Vizier

from astropy.table import Table, Column, join
import pandas as pd

t1 = Table.read('table1.dat', format='ascii')
t1pd = t1.to_pandas()

In [178]:
t1pd.set_index(['field', 'pointing', 'objid'], inplace=True)
t1pd #okay, if you fucking set the index, and then print it any more than once, you'll get
#a key error. I dont know what kind of fucking dimwit nimrod did this, but now i know that 
#it's specifically designed to fail. i seriously wish the worst upon this person. i hope
#that they fall down an elevator shaft. fuck you.

                                  x            y
field   pointing objid
COSMOS  7        4      1452.005775   167.979514
                 4      1452.897246   167.982376
EGS     10       5       383.670986   529.662235
COSMOS  9        8      1249.149836   505.914445
EGS     3        3       681.406004  1453.110449
        2        2       211.748796  1322.679934
GOODS-N 4        1       363.794436   296.692891
        6        4      1736.687440  1291.230396
                 5      1465.546275  1324.454036
COSMOS  4        2       750.411678   217.457809
EGS     1        1      1203.926251   401.495176
COSMOS  4        3       214.121583   765.983628
        8        5      1640.256036  1656.452461
GOODS-S 7        4        20.974060   209.935870
COSMOS  3        1      1639.616721   105.114283
GOODS-N 9        8       277.386283  1641.830629
GOODS-S 5        2       222.001816  1359.872313
GOODS-N 4        2       880.835008  1745.224613
        6        6      1258.966542   838.048413
        9        9      1706.810021   416.524094
EGS     6        4      1303.420105  1301.555547
COSMOS  8        6        17.727509  1890.932660
        9        9       417.520817   186.110482
GOODS-S 5        3       638.302955  1160.733828
GOODS-N 9        10      491.622128   932.644882
GOODS-S 1        1      1025.580321  1648.014990
EGS     10       6      1544.259110  1998.543409
COSMOS  8        7      1196.981424   975.141986
GOODS-N 5        3       825.694357  1617.026938
        10       11     1570.125152  1007.004691
        6        7       162.625029   697.677615

In [179]:
t1pd.sort_index(inplace=True) #this just sorts it by outer layer in so that it's prettier

In [180]:
t1pd

                                  x            y
field   pointing objid
COSMOS  3        1      1639.616721   105.114283
        4        2       750.411678   217.457809
                 3       214.121583   765.983628
        7        4      1452.005775   167.979514
                 4      1452.897246   167.982376
        8        5      1640.256036  1656.452461
                 6        17.727509  1890.932660
                 7      1196.981424   975.141986
        9        8      1249.149836   505.914445
                 9       417.520817   186.110482
EGS     1        1      1203.926251   401.495176
        2        2       211.748796  1322.679934
        3        3       681.406004  1453.110449
        6        4      1303.420105  1301.555547
        10       5       383.670986   529.662235
                 6      1544.259110  1998.543409
GOODS-N 4        1       363.794436   296.692891
                 2       880.835008  1745.224613
        5        3       825.694357  1617.026938
        6        4      1736.687440  1291.230396
                 5      1465.546275  1324.454036
                 6      1258.966542   838.048413
                 7       162.625029   697.677615
        9        8       277.386283  1641.830629
                 9      1706.810021   416.524094
                 10      491.622128   932.644882
        10       11     1570.125152  1007.004691
GOODS-S 1        1      1025.580321  1648.014990
        5        2       222.001816  1359.872313
                 3       638.302955  1160.733828
        7        4        20.974060   209.935870

In [181]:
t1pd.loc['COSMOS'] #now i can access this information very specifically. which is lovely,
#i guess

                          x            y
pointing objid
3        1      1639.616721   105.114283
4        2       750.411678   217.457809
         3       214.121583   765.983628
7        4      1452.005775   167.979514
         4      1452.897246   167.982376
8        5      1640.256036  1656.452461
         6        17.727509  1890.932660
         7      1196.981424   975.141986
9        8      1249.149836   505.914445
         9       417.520817   186.110482

In [195]:
t1pd.loc['COSMOS', 9] #so immediately one fucking annoying thing about this to remember is that
#if you fucking pass it a fucking integer as a row name, make sure it's not in quotes like a 
#string. god forbid anything be fucking goddamn uniform
#anyfuckingway it's generally good practice to pass it rows as a list, followed by columns as
#a list

t1pd.loc[('COSMOS', 9), :] #this yields the same thing, but here the : means "All Columns"
#we can get more specific if we like

t1pd.loc[('COSMOS', 9, 8), ('x', 'y')] #wowie zowie we can get specific

                                 x           y
field  pointing objid
COSMOS 9        8      1249.149836  505.914445

In [198]:
#alright, let's get info from several rows in here
t1pd.loc[(['COSMOS', 'GOODS-N'], 9), :] #We pass it a list of rows to think about, and we get
#even more specific about which subrow of each we want

                                  x            y
field   pointing objid
COSMOS  9        8      1249.149836   505.914445
                 9       417.520817   186.110482
GOODS-N 9        8       277.386283  1641.830629
                 9      1706.810021   416.524094
                 10      491.622128   932.644882

In [199]:
#okay what if we want multiple entries from the subrows???
t1pd.loc[('COSMOS', [7, 8, 9]), :]

                                 x            y
field  pointing objid
COSMOS 7        4      1452.005775   167.979514
                4      1452.897246   167.982376
       8        5      1640.256036  1656.452461
                6        17.727509  1890.932660
                7      1196.981424   975.141986
       9        8      1249.149836   505.914445
                9       417.520817   186.110482

In [201]:
#Now if we want all Row entries, we cannot simply write t1pd.loc[:, :] because fuck what we 
#want. we have to type

t1pd.loc[(slice(None)), 'x']

field    pointing  objid
COSMOS   3         1        1639.616721
         4         2         750.411678
                   3         214.121583
         7         4        1452.005775
                   4        1452.897246
         8         5        1640.256036
                   6          17.727509
                   7        1196.981424
         9         8        1249.149836
                   9         417.520817
EGS      1         1        1203.926251
         2         2         211.748796
         3         3         681.406004
         6         4        1303.420105
         10        5         383.670986
                   6        1544.259110
GOODS-N  4         1         363.794436
                   2         880.835008
         5         3         825.694357
         6         4        1736.687440
                   5        1465.546275
                   6        1258.966542
                   7         162.625029
         9         8         277.386283
                   9        1706.810021
                   10        491.622128
         10        11       1570.125152
GOODS-S  1         1        1025.580321
         5         2         222.001816
                   3         638.302955
         7         4          20.974060
Name: x, dtype: float64

In [207]:
#if we want to combine two DataFrames and one of them is MultiIndexed, we're gonna have to give
#the second one the same MultiIndex
from __future__ import print_function
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from astropy import units as u
from astropy.coordinates import SkyCoord

#comment out the next two lines if you do not have astroquery installed
#from astroquery.sdss import SDSS
#from astroquery.vizier import Vizier

from astropy.table import Table, Column, join
import pandas as pd

t2 = Table.read('table2.dat', format='ascii') #notice how different this entire line is
#from a normal pd.read_csv('') line
t2pd = t2.to_pandas()
t2pd

      field  pointing  objid         z
0   GOODS-N       6.0    6.0  0.975446
1    COSMOS       8.0    5.0  3.919106
2    COSMOS       3.0    1.0  4.512661
3   GOODS-N       6.0    4.0  4.481686
4   GOODS-N       4.0    2.0       NaN
5   GOODS-N      10.0   11.0  2.624065
6   GOODS-N       6.0    5.0  1.096976
7    COSMOS       8.0    6.0  0.732141
8    COSMOS       7.0    4.0  2.347851
9   GOODS-S       5.0    2.0  3.730850
10  GOODS-N       9.0    9.0  0.383056
11   COSMOS       4.0    2.0  3.599340
12  GOODS-S       1.0    1.0  5.989442
13  GOODS-N       6.0    7.0  2.222137
14   COSMOS       8.0    7.0  5.369378
15   COSMOS       4.0    3.0  3.052155
16      EGS       2.0    2.0  4.091742
17  GOODS-N       9.0    8.0  5.959816
18  GOODS-N       4.0    1.0  1.999296
19      EGS      10.0    6.0  1.879217
20      EGS       3.0    3.0  3.115396
21   COSMOS       9.0    8.0  3.474193
22   COSMOS       9.0    9.0  5.489699
23  GOODS-N       9.0   10.0  4.098541
24  GOODS-S       7.0    4.0  0.009370
25  GOODS-S       5.0    3.0  0.862863
26      EGS       6.0    4.0  0.300267
27      EGS       1.0    1.0  2.786025
28      EGS      10.0    5.0  0.431532
29  GOODS-N       5.0    3.0  2.365991

In [208]:
t2pd.set_index(['field', 'pointing', 'objid'], inplace=True)

In [209]:
#never look at that fucking box again or else it will explode.
t2pd

                               z
field   pointing objid
GOODS-N 6.0      6.0    0.975446
COSMOS  8.0      5.0    3.919106
        3.0      1.0    4.512661
GOODS-N 6.0      4.0    4.481686
        4.0      2.0         NaN
        10.0     11.0   2.624065
        6.0      5.0    1.096976
COSMOS  8.0      6.0    0.732141
        7.0      4.0    2.347851
GOODS-S 5.0      2.0    3.730850
GOODS-N 9.0      9.0    0.383056
COSMOS  4.0      2.0    3.599340
GOODS-S 1.0      1.0    5.989442
GOODS-N 6.0      7.0    2.222137
COSMOS  8.0      7.0    5.369378
        4.0      3.0    3.052155
EGS     2.0      2.0    4.091742
GOODS-N 9.0      8.0    5.959816
        4.0      1.0    1.999296
EGS     10.0     6.0    1.879217
        3.0      3.0    3.115396
COSMOS  9.0      8.0    3.474193
                 9.0    5.489699
GOODS-N 9.0      10.0   4.098541
GOODS-S 7.0      4.0    0.009370
        5.0      3.0    0.862863
EGS     6.0      4.0    0.300267
        1.0      1.0    2.786025
        10.0     5.0    0.431532
GOODS-N 5.0      3.0    2.365991

In [210]:
t2pd.sort_index(inplace=True)

In [211]:
t2pd #there. we made it prettier

                               z
field   pointing objid
COSMOS  3.0      1.0    4.512661
        4.0      2.0    3.599340
                 3.0    3.052155
        7.0      4.0    2.347851
        8.0      5.0    3.919106
                 6.0    0.732141
                 7.0    5.369378
        9.0      8.0    3.474193
                 9.0    5.489699
EGS     1.0      1.0    2.786025
        2.0      2.0    4.091742
        3.0      3.0    3.115396
        6.0      4.0    0.300267
        10.0     5.0    0.431532
                 6.0    1.879217
GOODS-N 4.0      1.0    1.999296
                 2.0         NaN
        5.0      3.0    2.365991
        6.0      4.0    4.481686
                 5.0    1.096976
                 6.0    0.975446
                 7.0    2.222137
        9.0      8.0    5.959816
                 9.0    0.383056
                 10.0   4.098541
        10.0     11.0   2.624065
GOODS-S 1.0      1.0    5.989442
        5.0      2.0    3.730850
                 3.0    0.862863
        7.0      4.0    0.009370

In [218]:
both = pd.merge(t1pd, t2pd, left_index=True, right_index=True)

In [215]:
both #so what we have done is found a very very spiffy way of merging these two things. 
#you'll notice though that it has matched the data badly. as long as the index rows matched,
#it haphazardly mashed information from Table2 into Table1. We dont know that z = 2.347
#actually has anything to do with the COSMOS pointing 7, objid 4 entries
#for all that work, I'm not sure this is a great way for us to do this

                                  x            y         z
field   pointing objid
COSMOS  3.0      1.0    1639.616721   105.114283  4.512661
        4.0      2.0     750.411678   217.457809  3.599340
                 3.0     214.121583   765.983628  3.052155
        7.0      4.0    1452.005775   167.979514  2.347851
                 4.0    1452.897246   167.982376  2.347851
        8.0      5.0    1640.256036  1656.452461  3.919106
                 6.0      17.727509  1890.932660  0.732141
                 7.0    1196.981424   975.141986  5.369378
        9.0      8.0    1249.149836   505.914445  3.474193
                 9.0     417.520817   186.110482  5.489699
EGS     1.0      1.0    1203.926251   401.495176  2.786025
        2.0      2.0     211.748796  1322.679934  4.091742
        3.0      3.0     681.406004  1453.110449  3.115396
        6.0      4.0    1303.420105  1301.555547  0.300267
        10.0     5.0     383.670986   529.662235  0.431532
                 6.0    1544.259110  1998.543409  1.879217
GOODS-N 4.0      1.0     363.794436   296.692891  1.999296
                 2.0     880.835008  1745.224613       NaN
        5.0      3.0     825.694357  1617.026938  2.365991
        6.0      4.0    1736.687440  1291.230396  4.481686
                 5.0    1465.546275  1324.454036  1.096976
                 6.0    1258.966542   838.048413  0.975446
                 7.0     162.625029   697.677615  2.222137
        9.0      8.0     277.386283  1641.830629  5.959816
                 9.0    1706.810021   416.524094  0.383056
                 10.0    491.622128   932.644882  4.098541
        10.0     11.0   1570.125152  1007.004691  2.624065
GOODS-S 1.0      1.0    1025.580321  1648.014990  5.989442
        5.0      2.0     222.001816  1359.872313  3.730850
                 3.0     638.302955  1160.733828  0.862863
        7.0      4.0      20.974060   209.935870  0.009370

In [219]:
both.reset_index() #yeah see even after we reorganize it we've got erroneous associations

      field  pointing  objid            x            y         z
0    COSMOS       3.0    1.0  1639.616721   105.114283  4.512661
1    COSMOS       4.0    2.0   750.411678   217.457809  3.599340
2    COSMOS       4.0    3.0   214.121583   765.983628  3.052155
3    COSMOS       7.0    4.0  1452.005775   167.979514  2.347851
4    COSMOS       7.0    4.0  1452.897246   167.982376  2.347851
5    COSMOS       8.0    5.0  1640.256036  1656.452461  3.919106
6    COSMOS       8.0    6.0    17.727509  1890.932660  0.732141
7    COSMOS       8.0    7.0  1196.981424   975.141986  5.369378
8    COSMOS       9.0    8.0  1249.149836   505.914445  3.474193
9    COSMOS       9.0    9.0   417.520817   186.110482  5.489699
10      EGS       1.0    1.0  1203.926251   401.495176  2.786025
11      EGS       2.0    2.0   211.748796  1322.679934  4.091742
12      EGS       3.0    3.0   681.406004  1453.110449  3.115396
13      EGS       6.0    4.0  1303.420105  1301.555547  0.300267
14      EGS      10.0    5.0   383.670986   529.662235  0.431532
15      EGS      10.0    6.0  1544.259110  1998.543409  1.879217
16  GOODS-N       4.0    1.0   363.794436   296.692891  1.999296
17  GOODS-N       4.0    2.0   880.835008  1745.224613       NaN
18  GOODS-N       5.0    3.0   825.694357  1617.026938  2.365991
19  GOODS-N       6.0    4.0  1736.687440  1291.230396  4.481686
20  GOODS-N       6.0    5.0  1465.546275  1324.454036  1.096976
21  GOODS-N       6.0    6.0  1258.966542   838.048413  0.975446
22  GOODS-N       6.0    7.0   162.625029   697.677615  2.222137
23  GOODS-N       9.0    8.0   277.386283  1641.830629  5.959816
24  GOODS-N       9.0    9.0  1706.810021   416.524094  0.383056
25  GOODS-N       9.0   10.0   491.622128   932.644882  4.098541
26  GOODS-N      10.0   11.0  1570.125152  1007.004691  2.624065
27  GOODS-S       1.0    1.0  1025.580321  1648.014990  5.989442
28  GOODS-S       5.0    2.0   222.001816  1359.872313  3.730850
29  GOODS-S       5.0    3.0   638.302955  1160.733828  0.862863
30  GOODS-S       7.0    4.0    20.974060   209.935870  0.009370