In [ ]:
print('hello world') #This is my first line of original code, written 14:17 GMT Friday, 28Jun19

In [14]:
from __future__ import print_function
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from astropy import units as u
from astropy.coordinates import SkyCoord

#comment out the next two lines if you do not have astroquery installed
#from astroquery.sdss import SDSS
#from astroquery.vizier import Vizier

from astropy.table import Table, Column, join
import pandas as pd

In [2]:
t1 = Table.read('table1.dat', format='ascii')
t2 = Table.read('table2.dat', format='ascii') #i didn't initially download these files which caused an error
#make sure that you have a local copy of the files you want read-in. For good measure, put them in the same 
#folder as the jupyter notebook you are running

In [3]:
print(t1)
print(t2) #simply printing these tables also returns the length (number of rows).

 field  pointing objid         x                  y
------- -------- ----- ------------------ ------------------
 COSMOS        7     4  1452.005775381194   167.979514004694
 COSMOS        7     4  1452.897245829873  167.9823759816357
    EGS       10     5  383.6709862254084  529.6622350311067
 COSMOS        9     8 1249.1498359476477 505.91444510147676
    EGS        3     3  681.4060035394654 1453.1104492712175
    EGS        2     2  211.7487956119928 1322.6799341887927
GOODS-N        4     1  363.7944356566061  296.6928912295952
GOODS-N        6     4 1736.6874404824487 1291.2303957635938
GOODS-N        6     5 1465.5462752917028 1324.4540356491643
 COSMOS        4     2  750.4116781683119 217.45780896355794
    ...      ...   ...                ...                ...
    EGS        6     4 1303.4201052209453 1301.5555472541591
 COSMOS        8     6  17.72750870740003 1890.9326597579945
 COSMOS        9     9  417.5208173314784  186.1104824393749
GOODS-S        5     3  638.3029554691373  1160.733828012476
GOODS-N        9    10 491.62212819672766  932.6448821676859
GOODS-S        1     1 1025.5803212795954  1648.014989913977
    EGS       10     6 1544.2591101375021 1998.5434092385583
 COSMOS        8     7 1196.9814239760703  975.1419858235524
GOODS-N        5     3  825.6943571742721 1617.0269380473999
GOODS-N       10    11 1570.1251523897547 1007.0046910088768
GOODS-N        6     7 162.62502887987785  697.6776153980593
Length = 31 rows
 field  pointing objid          z
------- -------- ----- --------------------
GOODS-N        6     6   0.9754458531443302
 COSMOS        8     5     3.91910618006773
 COSMOS        3     1    4.512660536441591
GOODS-N        6     4    4.481685516998164
GOODS-N        4     2                   --
GOODS-N       10    11    2.624064810120213
GOODS-N        6     5   1.0969759543334114
 COSMOS        8     6   0.7321414336399353
 COSMOS        7     4    2.347850808388833
GOODS-S        5     2   3.7308502002252593
    ...      ...   ...                  ...
    EGS       10     6    1.879217105059187
    EGS        3     3    3.115395690152406
 COSMOS        9     8    3.474192850363532
 COSMOS        9     9    5.489699024491776
GOODS-N        9    10    4.098541180582777
GOODS-S        7     4 0.009369523512939293
GOODS-S        5     3   0.8628633807137168
    EGS        6     4   0.3002666774707571
    EGS        1     1    2.786025145483226
    EGS       10     5   0.4315321637067595
GOODS-N        5     3    2.365990732185595
Length = 30 rows

In [4]:
#let's try printing them in a different format
t1.pprint()
t2.pprint() #hmm...this seems to have done almost nothing

 field  pointing objid         x                  y
------- -------- ----- ------------------ ------------------
 COSMOS        7     4  1452.005775381194   167.979514004694
 COSMOS        7     4  1452.897245829873  167.9823759816357
    EGS       10     5  383.6709862254084  529.6622350311067
 COSMOS        9     8 1249.1498359476477 505.91444510147676
    EGS        3     3  681.4060035394654 1453.1104492712175
    EGS        2     2  211.7487956119928 1322.6799341887927
GOODS-N        4     1  363.7944356566061  296.6928912295952
GOODS-N        6     4 1736.6874404824487 1291.2303957635938
GOODS-N        6     5 1465.5462752917028 1324.4540356491643
 COSMOS        4     2  750.4116781683119 217.45780896355794
    ...      ...   ...                ...                ...
    EGS        6     4 1303.4201052209453 1301.5555472541591
 COSMOS        8     6  17.72750870740003 1890.9326597579945
 COSMOS        9     9  417.5208173314784  186.1104824393749
GOODS-S        5     3  638.3029554691373  1160.733828012476
GOODS-N        9    10 491.62212819672766  932.6448821676859
GOODS-S        1     1 1025.5803212795954  1648.014989913977
    EGS       10     6 1544.2591101375021 1998.5434092385583
 COSMOS        8     7 1196.9814239760703  975.1419858235524
GOODS-N        5     3  825.6943571742721 1617.0269380473999
GOODS-N       10    11 1570.1251523897547 1007.0046910088768
GOODS-N        6     7 162.62502887987785  697.6776153980593
Length = 31 rows
 field  pointing objid          z
------- -------- ----- --------------------
GOODS-N        6     6   0.9754458531443302
 COSMOS        8     5     3.91910618006773
 COSMOS        3     1    4.512660536441591
GOODS-N        6     4    4.481685516998164
GOODS-N        4     2                   --
GOODS-N       10    11    2.624064810120213
GOODS-N        6     5   1.0969759543334114
 COSMOS        8     6   0.7321414336399353
 COSMOS        7     4    2.347850808388833
GOODS-S        5     2   3.7308502002252593
    ...      ...   ...                  ...
    EGS       10     6    1.879217105059187
    EGS        3     3    3.115395690152406
 COSMOS        9     8    3.474192850363532
 COSMOS        9     9    5.489699024491776
GOODS-N        9    10    4.098541180582777
GOODS-S        7     4 0.009369523512939293
GOODS-S        5     3   0.8628633807137168
    EGS        6     4   0.3002666774707571
    EGS        1     1    2.786025145483226
    EGS       10     5   0.4315321637067595
GOODS-N        5     3    2.365990732185595
Length = 30 rows

In [5]:
#let's print out the column headers for t1
print(t1.columns)

<TableColumns names=('field','pointing','objid','x','y')>

In [6]:
#and now we print out the first row including the column labels
print(t1[0])

field  pointing objid         x                y
------ -------- ----- ----------------- ----------------
COSMOS        7     4 1452.005775381194 167.979514004694

In [7]:
#we can print every row from a single column
print(t1['field'])

 field
-------
 COSMOS
 COSMOS
    EGS
 COSMOS
    EGS
    EGS
GOODS-N
GOODS-N
GOODS-N
 COSMOS
    ...
    EGS
 COSMOS
 COSMOS
GOODS-S
GOODS-N
GOODS-S
    EGS
 COSMOS
GOODS-N
GOODS-N
GOODS-N
Length = 31 rows

In [8]:
#Now I will begin playing with Pandas
#To create a new translation file I need to first convertfrom these Tables to Pandas
t1pd = t1.to_pandas()
t2pd = t2.to_pandas()
#that seems to have worked

In [9]:
#let's explore the tables in Pandas
print(t1pd.head())
length = len(t1pd)  
print(length, '\n') #and dont forget that we can assign the number of rows to a variable and do arithmetic with it
#the '\n' tells python to build in a line break
print(t1[:5])
#here we can tell that the pandas dataframe is much nicer to look at than the table

    field  pointing  objid            x            y
0  COSMOS         7      4  1452.005775   167.979514
1  COSMOS         7      4  1452.897246   167.982376
2     EGS        10      5   383.670986   529.662235
3  COSMOS         9      8  1249.149836   505.914445
4     EGS         3      3   681.406004  1453.110449
31

field  pointing objid         x                  y
------ -------- ----- ------------------ ------------------
COSMOS        7     4  1452.005775381194   167.979514004694
COSMOS        7     4  1452.897245829873  167.9823759816357
   EGS       10     5  383.6709862254084  529.6622350311067
COSMOS        9     8 1249.1498359476477 505.91444510147676
   EGS        3     3  681.4060035394654 1453.1104492712175

In [42]:
#what i think i want to do is to create a translate file. to do that, i'll append the z column of Table2 onto Table1, 
#saving the new table as "Translation"
#we have Table1 & Table2 as Pandas files, which means they have a unique index in those. Can I ask Python to combine
#these two tables based on multiple matches within an element?

#galaxyid1 = t1pd.loc[:10,['field','pointing','objid']] #select these three columns, and these 10 rows within those columns. 
#we could assign this a variable


#now i want to ask it to merge Table1 & Table2 where field, pointing, and objid match, assigning a new variable to that

#t1pd.rename(columns={'objid':'Table1_id'}, inplace=True)
#t2pd.rename(columns={'objid':'Table2_id'}, inplace=True) #we want to merge these but preserve their id's in each 
#table. in this case their object id is identical, but it may not be in future
Translate = pd.merge(t1pd, t2pd, how='outer', on=['objid', 'field', 'pointing'])
Translate #i...think i did it?
Translate.to_csv('Translate.txt', sep='\t', index=False) #this converts my newly created DataFrame to a
#.txt file with some specific parameters; sep is short for the separation of the columns, index removes an automatically
#generated zero-index, and header names the line to be used as the header. unfortunately this seems to be removing
#the column titles from the csv...i can't seem to get it to line up the header columns with the rest. i think this
#may just not be possible to display in the .txt, but it should be fine when it is read back into pandas


#note that we could specify where this is going
#export_csv = Translate.to_csv (r'C:\Users\Ron\Desktop\export_dataframe.csv', index = None, header=True) 





#i now have a translate file. now i can write code to search for information from Table1 in the translate file, find 
#it, look for corresponding information in Table2, and merge them into one

#pandas can handle empty entries, but we should assign NaN to some value that is easy to account for and cut out if/when
#we do arithmetic/operations on these entries at a later point

#On Monday I'll need to experiment with combining rows with matching entries into long columns, and asymmetrical 
#dataframes that may have multiple NaN entries

#### Here's what I think the next step is

* Select Table1 row-x column a, b, and c entries
* find the element that matches those in Translate row-y column d
* search for a match to that in Table2 row-z column e
* Combine Table1 row-x column a, b, and c with Table2 row-z column e
* Save this new DataFrame and/or Table

In [11]:
#galaxyid0 = t1pd.loc[0] #i've assigned a variable to this specific entry. now i want to find any entry in Translate
#that matches this. note that in this version of python, both .iloc and .loc work, but have slightly different
#purposes. loc helps to slice from a label, whereas iloc slices from an integer
#print(type(galaxyid0)) #it's a series, which means that .isin won't work since that is based on index match
#print(galaxyid0)

In [12]:
#global0 = Translate[(t1pd.field =='COSMOS') & (t1pd.pointing == 7) & (t1pd.objid == 4)]
#print(global0)

#january_february_march = df[df.month.isin(['January', 'February', 'March'])] #this type of search would allow me to 
#get very specific about parameters. remember it goes Translate[t1pd.column.isin(['str or int', 'str or int'])]


#match0 = t2pd[(Translate.field == 'COSMOS') & (Translate.pointing == 7) & (Translate.objid == 4)]
#print(match0)  #this didnt fucking work. what this dumbass thing thinks i mean is find the index of t2pd and show me
#that stupid fucking index (index zero btw) because that's where Translate.field == 'COSMOS', Translate.pointing == 7
#and Translate.objid == 4. stupid fucking thing. Now i have to wonder if the first command even worked

#criteria = t2pd.field.isin(['COSMOS'])
#print(criteria) #this only works for one column though. if we want to match multiple columns...
#multicrit = t2pd[Translate.field.isin(['COSMOS'])].reset_index() #same problem. it's searching by Translate's index
#it's not matching the information in the columns. it's matching the information i commanded it to look for in Translate
#to the same index number it has in Table2
#print(multicrit)

In [ ]:
#dates = pd.date_range('1/1/2000', periods=8) this is from the online example i found. i'm not building my dfs from
#scratch tho, so i shouldnt need this. but we'll keep these lines in case i need to analyze their syntax and structure

#df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D']) 
#again these lines are not crucial for this experiment, but they may prove useful later
    
#panel = pd.Panel({'one': df, 'two': df - df.mean()})
#now if i want to build my own panels, i may want up to three: Table1, Translate, and Table2. That should allow me to
#find corresponding information in each. Let's see if it will let us build three panels 

panel = pd.Panel({'one': t1pd, 'two': Translate, 'three': t2pd}) #that seems to have worked!
panel 
#now the real test: if i pass it a column to analyze in Table1, will it find corresponding information in Table2?
#if it does this simply by index, then I'm back to square one

#s = df['A'] 
#s[dates[5]]
#panel['two'] #these three lines are from the original example code i found online

#s = t1pd['pointing']
#t1pd['field'[0]] #it says that field is not defined and idk how the fuck that is true since
#we've used it countless times. it also cant figure out what to index for this so i'm giving up
#panel['two']

#this looks possibly like what i want: we have an initial dataframe, and a second dataframe. a Panel lets us specify
#the conditions i want in the first dataframe, and then report its corresponding information in a second
#unfortunately, the Panel command is depricated in Python 3, and so i should look for a different solution using
#MultiIndex. I've been trying to understand MultiIndexing, and I had just come to the conclusion that it isnt what i 
#need, but if it's the replacement to Panels, then I should spend some more time trying to understand it





#Okay it seems like Panels is very old and busted and I should try to learn how to multi index
#instead

In [27]:
GOODS_TRANSLATE = Table.read('GOODSN_plus_translation_all.txt', format='ascii')
GOODS_TRANSLATE

<Table length=3361>
   ID    Steves_ID       ra        dec            x                  y
 int64     str12      float64    float64       float64            float64
------- ------------ ---------- --------- ------------------ ------------------
  20029 z4_GND_22332 189.179694 62.240789          11707.786          10374.013
  21567 z4_GND_19891 189.265962 62.247546           9297.237          10779.229
  24413 z4_GND_14785 189.164208 62.261807          12139.289          11635.503
  33402 z4_GND_41377 189.208982 62.311845          10888.025          14636.981
   3777   z4_GND_819 189.297333 62.154039           8414.783           5169.538
   9207 z4_GND_39165 189.184421 62.188214          11577.835           7219.417
  30073 z4_GND_44202 189.232273 62.290575          10238.617          13360.706
  25624 z4_GND_12864 189.134321 62.267528          12973.424          11979.763
  33383 z4_GND_41287 189.195998 62.312141          11249.994          14654.882
  15884 z4_GND_29320 189.152002 62.220837          12483.067           9177.656
    ...          ...        ...       ...                ...                ...
5421926 z7_GND_21926  189.28296 62.242146  8822.043229371026 10455.577145050656
5418770 z7_GND_18770  189.09734 62.250954  14007.96255207136 10987.138263309793
5425328 z8_GND_25328  189.12772 62.232597  13160.98442197893  9884.197598505936
5414500 z7_GNW_14500  188.92015 62.194962 18973.931008712294  7644.457208960332
5413554 z8_GNW_13554    189.039 62.189419 15648.558068130427  7299.088869986672
5420236 z8_GNW_20236  189.43352 62.322304  4629.996813156173 15273.465053121652
5427475 z8_GNW_27475  189.37381 62.336391  6295.998978555362 16114.183192178098
5418397 z8_GNW_18397  189.29536 62.369267  8483.397636251408  18083.17027555052
5445101 z8_GND_45101  189.12109 62.277802  13341.80822125779 12596.792998195464
5406106  z8_GNW_6106  189.20311  62.14394 11055.704646478553   4562.71674552403

In [29]:
CGS1_LINES = Table.read('CGS1_lines.txt', format='ascii')
CGS1_LINES

FileNotFoundError: [Errno 2] No such file or directory: 'CGS1_lines.txt'